**Release Date:** July 1, 2017

<p class="note warning"><strong>WARNING:</strong> This is the GA release, and is not compatible with the previous releases, including the beta release. See detailed release notes below for more information.</p>

Features included in this release (for details on features, see the feature overview document):

* High-availability model
* Auto-failover
* On-demand single-tenant service
