**Release Date:** Aug , 2018

Software features in this release:

- [New Plan Structure] Addition of the general and standalone plans
  - The small, medium, large, and extra-large plans have been removed in
    favor of using a general, custom, custom-monitor, general-monitor, standalone,
    and standalone-replica plans
- [New Service Offering] Standalone and Standalone Replica Services
  - The standalone and standalone replica service offerings provide a single
    PostgreSQL instance with local pgBackRest that can either function
    independently or connect to a parent cluster for replication.
  - A new configuration option for a standalone service instance,
    standalone_backups, that can be set to true to turn on local pgBackRest
    backups.
  - The `standalone-replica` plan can connect across foundations provided the
    two service networks have connectivity.
- [Software Component Update] PGBackrest (v1.X to v2.04)
- [Software Component Update] Pivotal On Demand Broker SDK (v0.18.0 to v0.21.2)
- [Software Component Update] Pivotal Stemcell (3468 to 3541)
- [Software Component Update] Crunchy PostgreSQL On-Demand Broker v5
  - Enhanced acceptance tests
- [Software Component Update] Crunchy PostgreSQL Service Adapter v5
  - Addition of a remote replication service key creation.
  - Allows users to upgrade a standalone instance to a full cluster instance.
  - Fixes a bug that caused configuration options to reset when new parameters
    were passed in to the service instance.
  - Allows users to upgrade from Crun
- [Software Component Update] Crunchy PostgreSQL BOSH v5
  - This new software version provides the updated service offerings, plan
    restructure, and remote replication.
  - Fixes a bug that caused services instances to no longer be able to
    bind/unbind with applications.
  - Fixes a bug that caused servers to not recover when rebooted outside the
    scope of BOSH.
  - Fixes a bug that caused health check failures during heavy PostgreSQL
    transaction load times.
  - Fixes a bug that caused multiple HAProxy process to remain active after
  receiving a kill command.
- [Software Component Update] Python Updates
  - python-flask v1.0.2
  - python-flask-httpauth v3.2.4
  - python-idna v2.7
  - python-psycopg2 v2.7.5
  - python-requests v2.19.1
  - python-urllib3 v1.23
- [Software Component Update] pgaudit-set-user v1.6.1
- [New Software Feature] `wal2json` library availability
- [New Software Feature] pgc_ configuration parameters can now be updated through `update-service`
- [New Configuration Option] Parallel upgrades for service instances
- [New Configuration Option] Standalone configurations:
  - Option for backups by default
  - Customizable VM type, persistent storage, connection limit
- [Stability Enhancemnet] Improves recovery from IaaS storage disconnection

# Notes
- Crunchy PostgreSQL for PCF can be directly upgraded from v4 with PostgreSQL
  v9.5 to v5 with PostgreSQL v9.5.
- Crunchy PostgreSQL for PCF v5 relies on functionality released in PCF
  v2.0, v2.1, and v2.2 to provide support for “on-demand broker” capability.


<p class="note"><strong>Note:</strong>
Crunchy PostgreSQL for PCF can be directly upgraded from v4 to v5.
Services using versions of Crunchy PostgreSQL for PCF prior to v3 should first
upgrade to v4, then directly to v5 for maximum stability.
</p>
