<p class="note"><strong>Note:</strong> Crunchy PostgreSQL for PCF can be directly upgraded from v3 to v4. Services using versions of Crunchy PostgreSQL for PCF prior to v3 should first upgrade to v3, then directly to v4 for maximum stability.</p>

<p class="note"><strong>Note:</strong> Crunchy PostgreSQL for PCF v4 relies on functionality released in PCF v1.11 through v2.1 to provide support for "on-demand broker" capability.
</br>
</br>
To implement this functionality, Crunchy Data has made material modifications to the Crunchy PostgreSQL for PCF manifest and does not currently provide a direct upgrade path from Crunchy PostgreSQL for PCF v1 or v2 to Crunchy PostgreSQL for PCF v4.
</br>
</br>
To avoid confusion between the two implementations, Crunchy Data has removed the Crunchy PostgreSQL for PCF v1 and v2 software versions from Pivotal Network. If you previously downloaded and/or deployed an evaluation copy of Crunchy PostgreSQL for PCF v1 or v2, Crunchy Data is happy to provide ongoing commercial subscription support.
</br>
</br>
If you are interested in commercial subscription support for Crunchy PostgreSQL for PCF, contact sales@crunchydata.com.
</p>
