Service bindings are used for Cloud Foundry applications and services. When an
application is bound to a service, the service credentials are automatically
added to the `VCAP_SERVICES` environment variable within the application
container. Unique credentials are generated for each service binding and are
removed when the binding is deleted.

<p class='note warning'>
<strong>WARNING:</strong>
Applications must obtain the service binding credentials dynamically from the
application container environment. Do not use service binding
credentials outside of a Cloud Foundry application. Instead, use service keys
for this use case.
</p>

Service keys are used for external applications that need to use Cloud
Foundry services. Creating a service key returns the service credentials JSON
object, which can be used by the external application as appropriate.
