#### Using Cloud Foundry CLI

When the status of your service is **create succeeded** you can bind an app to the service by running `cf bind-service APP_NAME SERVICE_INSTANCE`, substituting `APP_NAME` with the name of your PCF app and `SERVICE_INSTANCE` with the name of your service. For example:

```
cf bind-service myApp <%= service_instance_name %>
cf restage myApp
```

<p class="note"><strong>Note:</strong> You must restage or restart your app before it will have access to the service credentials.</p>

#### Using Pivotal Apps Manager

1. From the space dashboard, select the **Services** tab, then select your service.

1. Select the **Overview** tab, then click the **Bind Apps** button.

1. Under the **Bound Apps** section, tick the checkbox for the app you would like to bind to your service, then click **Save**.
