#### Using Cloud Foundry CLI

When the status of your service is **create succeeded** you can bind an app to
the service by running `cf bind-service APP_NAME SERVICE_INSTANCE`,
substituting `APP_NAME` with the name of your PCF app and `SERVICE_INSTANCE`
with the name of your service. For example:

```
cf bind-service myApp <%= service_instance_name %>
cf restage myApp
```

Binding parameters can be passed in as the binding is created. For example:

```
cf bind-service myApp <%= service_instance_name %> -c '{"parameter": value}'
cf restage myApp
```

##### Optional Binding Parameters
| Parameter                  | Description                                                        | Example Value                         | Parameter Limitations                                                                                                       | Notes                                                                                                                                                                                                                                                                                                                                                         |
| :--------                  | :----------                                                        | :--------                               | :-----------:                         | :--------------------                                                                                                       | :----                                                                                                                                                                                                                                                                                                                                                         |
| `use_md5_auth`            | Enables MD5 auth methods              | `true`                 | Value must be boolean true or false                                                                                            | Can be used if the app does not support SCRAM-SHA-256 authentication                                                                                                                                                                                                                                                                                                          |
| `stats_access`            | Allow users to create service bindings with superuser visibility of `pg_stat_activity`             | `true`                 | Value must be boolean true or false                                                                                            | Access must also be enabled in the service instance                                                                                                                                                                                                                                                                                                          |
| `remote_replica`            |              | `true`                 | Value must be boolean true or false                                                                                            |                                                                                                                                                                                                                                                                                                           |

If access to stats is enabled in your service instance, you can optionally enable this feature at binding time. With stats enabled you will be able to access the `pg_stat_activity` and `pg_stat_statements` views that are created in your service database. You can access these tables by calling `SELECT * FROM pg_stat_activity` in the Crunchy PostgreSQL 10 tile and `SELECT * FROM monitor.pg_stat_activity()` in the Crunchy PostgreSQL 9.5 tile.

<p class="note">
<strong>Note:</strong> You must restage or restart your app before it will have access to the service
credentials.
</p>

<p class="note">
<strong>Note: </strong>
MD5 Authentication is considered cryptographically broken.
Any and all efforts should be made to utilize SCRAM-SHA-256 authentication where possible.
</p>

#### Using Pivotal Apps Manager

1. From the space dashboard, select the **Services** tab, then select your
service.

1. Select the **Overview** tab, then click the **Bind Apps** button.

1. Under the **Bound Apps** section, tick the checkbox for the app you would
like to bind to your service, then click **Save**.
