The PostgreSQL Audit Extension (PgAudit) provides detailed session and/or
object audit logging via the standard PostgreSQL logging facility. The goal is
to provide Crunchy PostgreSQL users with capability to produce audit logs that
comply with ICS 500-27 requirements.

<p class='note warning'>
<strong>WARNING!</strong> Depending on settings, it is possible for PgAudit to
generate an enormous volume of logging. If log levels are set too high, disk
space and other system resources may become overutilized, which can have a
negative impact on PostgreSQL performance and stability. Therefore, it is
important to determine your exact audit requirements to avoid logging too much.
</p>

The following table provides more information on the configuration provided for
each compliance profile.

* **Profile** is the name of the `compliance_profile`.
* **pgaudit.log** is the value(s) for `pgaudit.log`, which determine the type of statements that are captured in the audit log.
  - **READ**: `SELECT` and `COPY` when the source is a relation or a query.
  - **WRITE**: `INSERT`, `UPDATE`, `DELETE`, `TRUNCATE`, and `COPY` when the destination is a relation.
  - **FUNCTION**: Function calls and `DO` blocks.
  - **ROLE**: Statements related to roles and privileges: `GRANT`, `REVOKE`, or `CREATE`, `ALTER`, and `DROP ROLE`.
  - **DDL**: All `DDL` that is not included in the `ROLE` class.
  - **MISC**: Miscellaneous commands, e.g. `DISCARD`, `FETCH`, `CHECKPOINT`, `VACUUM`.

| Profile                | pgaudit.log                  |
| ---                    | ---                          |
| `base_compliance`      | ddl, role, misc              |
| `stig_compliance_full` | ddl, role, misc, read, write |
| `pgaudit_disabled`     | N/A                          |
