Follow the steps below to create and bind a service instance of Crunchy PostgreSQL to use with your app.

<p class="note"><strong>Note</strong>: With an on-demand service, new servers are built
and configured when a new service is created. Therefore, this step takes some time to complete.
You may check the status of your service from the space dashboard in the Services tab.
Ensure that the status of the service is <strong>create succeeded</strong> before proceeding.
</p>

1. Create a service instance using the following command as a template:
```
cf create-service postgresql-9.5-odb small myService -c '
{
        "db_name": "testdb",
        "db_username": "example",
        "owner_name": "Firstname Lastname",
        "owner_email": "email@example.com"
}'
```

2. Bind the service instance to your app:
```
cf bind-service <APP_NAME> <SERVICE_INSTANCE_NAME>
```

3. Run the following commands to restage your app so that it can use the service:
```
cf restage <APP_NAME>
```

The service will then be available for use within any bound application.
