These instructions demonstrate how the database can be restored using only deltas between the backup and the database.

The following requires an administrator to SSH to the primary `postgresql` server.
For guidance on using SSH to connect to servers in the service, see [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html).

<p class="note"><strong>Note</strong>: Pivotal recommends that you use BOSH CLI v2+ when running PCF v1.11 or higher.</p>

1. SSH into the `consul` server using the `bosh` tool:
    <pre class="terminal">
    bosh ssh consul-server 0
    </pre>
    If using the BOSH v2+ Client:
    <pre class="terminal">
    bosh -e $ENV -d $DEPLOYMENT ssh consul-server/0
    </pre>

1. Identify the current primary by querying Consul:
    <pre class="terminal">
    sudo su - vcap
    curl -sSL http<span>:</span>//localhost:8500/v1/catalog/service/postgresql-zone1 \
    | jq -r '.[] | .Node, .ServiceTags'
    </pre>

1. SSH into the `postgresql` server(s) identified above as replicas using the `bosh` tool:
    <pre class="terminal">
    bosh ssh postgresql <index identified above>
    </pre>
    If using the BOSH v2+ Client:
    <pre class="terminal">
    bosh -e $ENV -d $DEPLOYMENT ssh postgresql/<index identified above>
    </pre>

1. Switch to the `root` user:
    <pre class="terminal">
    sudo -i
    </pre>

1. Stop monitoring `consul` and `postgresql` services:
    <pre class="terminal">
    monit unmonitor consul
    monit stop consul
    monit unmonitor postgresql
    monit stop postgresql
    </pre>

1. SSH into the `postgresql` server identified above as primary using the `bosh` tool:
    <pre class="terminal">
    bosh ssh postgresql <index identified above>
    </pre>
    If using the BOSH v2+ Client:
    <pre class="terminal">
    bosh -e $ENV -d $DEPLOYMENT ssh postgresql/<index identified above>
    </pre>

1. Switch to the `root` user:
    <pre class="terminal">
    sudo -i
    </pre>

1. Stop monitoring `consul` and `postgresql` services:
    <pre class="terminal">
    monit unmonitor consul
    monit stop consul
    sleep 60 # Give adequate time for consul to settle
    monit unmonitor postgresql
    monit stop postgresql
    </pre>


1. Switch to the `vcap` user:
    <pre class="terminal">
    su - vcap
    </pre>

1. Verify that backups are available:
    <pre class="terminal">
    pgbackrest --stanza=main info
    </pre>
    Note that you may need to provide the `pgbackrest.conf` path:
    <pre class="terminal">
    pgbackrest --config=/var/vcap/store/pgbackrest/config/pgbackrest.conf --stanza=main info
    </pre>

1. Restore the database:
    <pre class="terminal">
    pgbackrest --config=/var/vcap/store/pgbackrest/config/pgbackrest.conf \
        --stanza=main \
        --delta \
        --log-level-console=detail \
        restore
    </pre>

1. Switch to `root`:
    <pre class="terminal">
    sudo -i
    </pre>

1. Start the database:
    <pre class="terminal">
    monit start postgresql
    monit monitor postgresql
    </pre>

1. Return the other systems to working order:
    <pre class="terminal">
    monit start consul
    monit monitor consul
    </pre>

1. SSH into the `postgresql` server(s) identified above as replicas using the `bosh` tool:
    <pre class="terminal">
    bosh ssh postgresql <index identified above>
    </pre>
    If using the BOSH v2+ Client:
    <pre class="terminal">
    bosh -e $ENV -d $DEPLOYMENT ssh postgresql/<index identified above>
    </pre>

1. Switch to the `root` user:
    <pre class="terminal">
    sudo -i
    </pre>

1. Resume monitoring `consul` and `postgresql` services:
    <pre class="terminal">
    monit start consul
    monit monitor consul
    monit start postgresql
    monit monitor postgresql
    </pre>
