<p class='note warning'><strong>WARNING:</strong> 
This is a destructive process and will destroy the entire service instance,
including your database and backups. Ensure that you export any data you need
before performing this step.
</p>

### Using Cloud Foundry CLI

<p class='note'><strong>Note:</strong> You are required to unbind a service before the service can be deleted.</p>

To delete your service instance, run `cf delete-service SERVICE_INSTANCE`,
substituting `SERVICE_INSTANCE` with the name of your service. For example:

```sh
cf delete-service myService
```

### Using Pivotal Apps Manager

1. From the space dashboard, select the **Services** tab, then select your
service.
1. Select the **Settings** tab, then click the **Delete Service
Instance** button.
