In order to provide our customers with the best possible environment, Crunchy Data engineers have created an infrastructure that provides the following key features:

* On-demand, single-tenant service
* Crunchy PostgreSQL <%= postgresql_version %> and PostGIS <%= postgis_version %>
* Primary/replica PostgreSQL architecture
* Load-balanced read replicas
* Automated backups with PgBackRest
* Disaster recovery
* High availability
* SCRAM-SHA-256 Authentication between internal components

<p class="note">
<strong>Note: </strong>
Apps Manager support is only available if you are using PCF Ops Manager and
Elastic Runtime v1.10 or later.
</p>

For details on the features of this tile, see the [feature overview](./feature-overview.html).

For more information about Crunchy PostgreSQL, see the [Crunchy Data](http://crunchydata.com/) website.
