
The following table provides version and version-support information about Crunchy PostgreSQL for Pivotal Platform:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td><%= release_version %></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%= release_date %></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>PostgreSQL v<%= postgresql_version %></td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x, v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.0.x, v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

<p class="note warning"><strong> WARNING:</strong>
Crunchy PostgreSQL for Pivotal Platform v05.1006.003
and earlier require an Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>
