<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about
Crunchy PostgreSQL for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td><%= release_version %></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%= release_date %></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>PostgreSQL v<%= postgresql_version %></td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.12.x, v2.0.x, v2.1.x, and v2.2.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v1.12.x, v2.0.x, v2.1.x, and v2.2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>
