The following table provides version and version-support information about
Crunchy PostgreSQL for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>04.090513.001</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 11, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>PostgreSQL v9.5.13</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x, and v2.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service* version(s)</td>
        <td>v1.11.x, v1.12.x, and v2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>.
