**Release Date:** Aug 4, 2018

Software features in this release:
- [New Software Feature] `wal2json` library availability
- [New Software Feature] Standalone configuration 
- [New Software Feature] Cross foundation replica plan "standalone-replica"
- [New Software Feature] Service plan restructure
	- Small, Medium, Large, and Extra-large replaced by general, general-monitor, custom, and custom-monitor
- [New Software Feature] pgc_ configuration parameters can now be updated through `update-service`
- [Software Component Update] PGBackrest (v1.X to 2.04)
- [Software Component Update] Pivotal On Demand Broker SDK (v0.18.0 to v0.21.2)
- [Software Component Update] Pivotal Stemcell (3468 to 3541)
- [New Configuration Option] Parallel upgrades for service instances
- [New Configuration Option] Standalone configurations:
	- Option for backups by default
	- Customizable VM type, persistent storage, connection limit
- [Stability Enhancemnet] Improves recovery from IaaS storage disconnection 


<p class="note"><strong>Note:</strong>
Crunchy PostgreSQL for PCF can be directly upgraded from v4 to v5.
Services using versions of Crunchy PostgreSQL for PCF prior to v3 should first
upgrade to v4, then directly to v5 for maximum stability.
</p>
