**Release Date:** May 12, 2017

<p class="note warning"><strong>WARNING:</strong> This is a beta release of the on-demand single-tenant service.
This beta release is intended for evaluation purposes only.
The final release of this software will include some changes that will likely break compatibility between this release and the next release.
</p>

Features included in this release:

* On-Demand single-tenant service


