**Release Date:** Aug 4, 2018

Software features in this release:


<p class="note"><strong>Note:</strong>
Crunchy PostgreSQL for PCF can be directly upgraded from v4 to v5.
Services using versions of Crunchy PostgreSQL for PCF prior to v3 should first
upgrade to v4, then directly to v5 for maximum stability.
</p>
