**Release Date:** July 1, 2017

<p class="note warning"><strong>WARNING!</strong> This is the GA release, and is not compatible with the previous releases, including the beta release.
Please see detailed release notes below for more information.
</p>

Features included in this release (for details on features please read the feature-overview document):

* High-availability model
* Auto-failover
* On-Demand single-tenant service

<p class="note"><strong>IMPORTANT</strong>: Crunchy PostgreSQL for PCF v3 relies on functionality
released in PCF v1.9 – v1.12 to provide support for "on-demand broker" capability.<br><br>
To implement this functionality, Crunchy Data has made material modifications to the
Crunchy PostgreSQL for PCF manifest and does not currently provide a direct upgrade path from
Crunchy PostgreSQL for PCF v1 or v2 to Crunchy PostgreSQL for PCF v3. <br><br>
To avoid confusion between the two implementations, Crunchy Data has removed the
Crunchy PostgreSQL for PCF v1 and v2 software versions from Pivotal Network.
If you previously downloaded and deployed an evaluation copy of
Crunchy PostgreSQL for PCF v1 or v2, Crunchy Data is happy to provide ongoing commercial subscription support.<br><br>
If you are interested in commercial subscription support for Crunchy PostgreSQL for PCF, please contact sales@crunchydata.com.
</p>

