The Crunchy PostgreSQL Manager is a simple Cloud Foundry app to allow for
developer visibility into the service, showing VM health, disk usage, and other
useful information without the need for Platform Administrator privileges.

<p class='note'>
<strong>Note: </strong>
This app is only accessible to current Crunchy Data Customers.
</p>

1. Obtain the source package from the Crunchy Data Access Portal.
1. Follow the installation instructions contained within the tarball to deploy the VMware Tanzu app.

<p class='note'>
<strong>Note: </strong>
The Crunchy PostgreSQL Manager application may be requested to bind to your service
under certain circumstances for troubleshooting purposes through Crunchy
Support.
</p>

