The Self Service Dashboard is a simple CF application to allow for
developer visibility into the service; showing VM health, disk usage, and
other useful information without the need for Platform Administrator privileges.

- Obtain the source package from the Crunchy Data Access Portal
  - **Note:** This app is only accessible to current Crunchy Data Customers
- Follow Installation instructions contained within the tarball to deploy PCF App

<p class='note'>
The Self Service Dashboard application may be requested to bound to
your service under certain circumstances for troubleshooting purposes
through Crunchy Support.
</p>

