A standalone instance may be used in one of two ways:

1. Isolated single PostgreSQL instance, with no supporting software
2. Isolated replica instance, allowing to 'add on' remote disaster recovery to an existing cluster.

<p class="note">
<strong>Note:</strong> These instances are to be used with care, as they have no
internal support services that are typically deployed with the standard service plans.
In the event that any question or concern regarding implementation arises, please
contact Crunchy Support.
</p>

**Using the Standalone-Replica Plan:**
There are several prerequisites when creating a service using the standalone-replica plan type.

- Services must be in the same VPC or their networks must be peered
- A 'parent' cluster service (using any other service plan) must exist
  - To enable remote replication on an existing cluster:
    ```
    cf update-service $SERVICE_NAME -c '{"allow_remote_replication": true}'
    ```

Create a Service Key from the parent cluster with the following parameters:

```
cf create-service-key $CLUSTER_SERVICE_NAME \
$SERVICE_KEY_NAME -c '{"remote_replica": true}'
```

This service key will contain all of the relevant info for binding the
standalone-replica instance to the parent cluster.

You can query this information directly from the service key with the following command:

```
cf service-key $CLUSTER_SERVICE_NAME $SERVICE_KEY_NAME
```

These parameters provided from the service key are required during the creation
of the standalone-replica service.

Because of the complexity of some of these parameters, it's recommended
to compose a json file for creation;

```json
{
        "db_name": "same_as_parent_service",
        "db_username": "same_as_parent_service",
        "owner_name": "John Q. Example",
        "owner_email": "example@fabrikam.com",
        "haproxy_ip": "192.168.1.1",
        "pgbackrest_ip": "192.168.1.2",
        "replication_user": "testuser123",
        "replication_password": "supersecure",
        "replication_private_key": "-----BEGIN RSA PRIVATE KEY-----...-----END RSA PRIVATE KEY-----"
}
```

The service can be created by:

```
cf create-service <%= service_name %> standalone-replica \
$STANDALONE_SERVICE_NAME -c values.json
```

Please see the section on [Creating a New Service](#creating-examples)
for more information.
