#### Using Cloud Foundry CLI

To update an existing on-demand service instance's configuration parameters,
run `cf update-service SERVICE-INSTANCE -c SERVICE-PARAMS`, substituting
`SERVICE-INSTANCE` with the name of your service, and `SERVICE-PARAMS` with
a JSON object containing the parameters to update. For example:

```sh
cf update-service myService -c '{
    "add_hba_addresses": "192.168.0.24/32 192.168.1.0/24"
}'
```

To update the plan of an existing on-demand service instance, run
`cf update-service SERVICE-INSTANCE -p PLAN-NAME`, substituting `PLAN-NAME`
with the name of the desired service plan. For example, to switch to the
`general-monitor` plan:
```sh
cf update-service myService -p general-monitor
```

<p class="note">
<strong>Note:</strong> New servers may be created and/or reconfigured when an on-demand
service is updated. Therefore, this step will take some time to complete. You
can check the status of your service my running <code>cf services</code> and
looking for <code>SERVICE-INSTANCE</code> or with
<code>cf service SERVICE-INSTANCE</code>.
</p>

#### Using Pivotal Apps Manager UI

1. From the space dashboard, go to the **Services** tab.
1. Select your service.
1. Go to the **Settings** tab.
1. In the fields under **Configure Instance**, add any service update supported parameters.
Click **+** to create additional fields.
1. Once the desired parameters have been added, click **Update**.

<p class="note">
<strong>Note:</strong>
New servers may be created and/or reconfigured when an on-demand
service is updated. Therefore, this step will take some time to complete. You
can check the status service from the space dashboard, in the
<strong>Services</strong> tab.
</p>

<p class="note warning">
<strong>WARNING:</strong>
Prior to upgrading a cluster-type plan (<code>general</code>, <code>custom</code>, etc) to a
standalone plan, it is <strong>imperative</strong> that the cluster is
healthy and <code>postgresql/0</code> server is healthy. Failure to do so will result
in data loss. For guidance, contact Crunchy Support prior to upgrading the service.
</p>
