#### Using Cloud Foundry CLI

To change the service plan of  an existing on-demand service instance, run
`cf update-service SERVICE_INSTANCE -p SERVICE_PLAN`, substituting
`SERVICE_INSTANCE` with the name of your service and `SERVICE_PLAN` with the
desired service plan. For example:

```
cf update-service myService -p large
```

When updating to a standard service plan, service configuration parameters are
optional. When updating to the custom service plan, you must specify the
required parameters listed [here](#custom-service-plan). For example:

```
cf update-service myService -p custom -c '{
    "db_connection_limt": 500,
    "disk_size": "512GB",
    "num_of_replicas": 2,
    "server_type:" "crunchy-large"
}'
```

<p class='note warning'>
<strong>IMPORTANT!</strong> The on-demand service currently only supports
updating from a standard service plan to the custom service plan.
</p>

<p class='note'>
New servers may be created and/or reconfigured when an on-demand
service is updated. Therefore, this step will take some time to complete. You
can check the status of your service my running <code>cf services</code> and
looking for <code>SERVICE_INSTANCE</code> or with
<code>cf service SERVICE_INSTANCE</code>.
</p>
