#### Standard Service Plans

The following service configuration parameters are supported during service
update:

* **add_hba_addresses**: A space separated list of IP addresses and/or networks in CIDR format that will be authorized to connect to the service database as the service user.
* **compliance_profile**: The compliance level to use for the database cluster.
    - Accepted `compliance_profile` values are:
        - `base_compliance`
        - `stig_compliance_full`
        - `pgaudit_disabled`
    - The default and recommended value is `base_compliance`.
    - Specifying `stig_compliance_full` configures PgAudit as specified in the [PostgreSQL STIG](https://www.crunchydata.com/postgres-stig/PGSQL-STIG-9.5+.pdf) , which may impact performance.
    - Specifying `pgaudit_disabled` disables PgAudit logging and is not recommended.
    - The configuration details for each profile can be found [here](#compliance-profiles).
* **delete_hba_addresses**: A space separated list of IP addresses and/or networks in CIDR format that will be removed from list of authorized addresses.

<p class='note'>
You can only remove addresses that have been added to the service through
<code>hba_addresses</code> and/or <code>add_hba_addresses</code>.
</p>
