---
title: Disaster Recovery
owner: Crunchy Data
---

##<a id='backup'></a> Backup and Restore

<%= partial('backup_information') %>

##<a id='delta'></a> Restore Using Deltas

<%= partial('delta_restore') %>

##<a id='pitr'></a> Point in Time Recovery

<%= partial('pitr') %>

##<a id='pgbackrest'></a> pgBackrest Documentation

For more information about pgBackrest restorations, please refer to the
official [PGBackRest documentation](http://www.pgbackrest.org/user-guide.html).
