---
title: Crunchy PostgreSQL For PCF
owner: Crunchy Data 
---

This documentation describes the Crunchy PostgreSQL for Pivotal Cloud Foundry 
(PCF) tile. Installing this tile creates a service that allows PCF developers 
to use Crunchy PostgreSQL databases with their apps.

## <a id="features"></a>Key Features

Crunchy PostgreSQL For PCF includes the following key features:

* On-Demand single-tenant service
* Crunchy PostgreSQL 9.5 and PostGIS 2.3
* Leader/follower PostgreSQL architecture
* Load-balanced read replicas
* Automated backups with pgBackrest
* Disaster recovery 
* High availability

For more information about Crunchy PostgreSQL, see the 
[Crunchy Data](http://crunchydata.com/) website.  

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about 
Crunchy PostgreSQL for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>02.090507.102</td>
    </tr>
    <tr>
        <td>Release date (BETA release)</td>
        <td>May 12, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>PostgreSQL v9.5</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

Crunchy PostgreSQL for PCF currently includes the following limitations:

* You must manually restore backups.
* You must manually perform failovers.

## <a id="feedback"></a>Feedback

To report bugs, request features, or ask questions, send an email to 
[Crunchy Data](mailto:crunchypcf@crunchydata.com).
