---
title: Crunchy PostgreSQL For PCF
owner: Crunchy Data
---

Using the cloud-native platform Pivotal Cloud Foundry (PCF), Crunchy Data
engineers have created a service offering that provides a secure, reliable,
and robust database infrastructure delivered as "Database-as-a-Service"
(DBaaS). Crunchy Certified PostgreSQL for PCF provides a Marketplace service
and complete PostgreSQL infrastructure to enable any applications deployed to
PCF to utilize PostgreSQL databases in a self-service, on-demand manner. This
allows developers to focus on coding and not the underlying infrastructure.

This documentation describes the Crunchy PostgreSQL for Pivotal Cloud Foundry
(PCF) tile. Installing this tile creates a service that allows PCF developers
to use Crunchy PostgreSQL databases with their apps.
In order to provide our customers with the best possible environment, Crunchy
Data engineers have created an infrastructure that provides the following key
features:

<%= partial('pg10_note') %>

## <a id="features"></a>Key Features

<%=
partial(
    :keyfeatures,
    :locals => {
        :postgresql_version => '10.8',
        :postgis_version => '2.5'
    }
)
-%>

##<a id='intro-video'></a> Service Introduction Video
[Watch PivNET Overview of the Crunchy PostgreSQL Service](https://pivotal.io/platform/services-marketplace/data-management/crunchy )

## <a id="snapshot"></a>Product Snapshot

<%=
partial(
    :product_snapshot,
    :locals => {
        :release_version => '05.1008.005',
        :release_date => 'May 20, 2019',
        :postgresql_version => '10.8'
    }
)
-%>

## <a id="limitations"></a>Limitations

Crunchy PostgreSQL for PCF currently includes the following limitation:

* You must manually restore backups.

## <a id="further-info"></a>Further Information

The documentation provided here is intended to cover most general
use cases.

For further in-depth information, please refer to the [Official
Crunchy Data Documentation](https://access.crunchydata.com/documentation/)

## <a id="feedback"></a>Feedback

To report bugs, request features, or ask questions, send an email to
[Crunchy Data](mailto:crunchypcf@crunchydata.com).
