---
title: Crunchy PostgreSQL For PCF
owner: Crunchy Data 
---

This documentation describes the Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) tile. Installing this tile creates a service that allows PCF developers to use Crunchy PostgreSQL databases with their apps.

## <a id="features"></a>Key Features

Crunchy PostgreSQL For PCF includes the following key features:

* Crunchy PostgreSQL 9.5 and PostGIS 2.2
* Leader/Follower PostgreSQL architecture
* Load-balanced read replicas
* Automated backups with pgBackrest
* Disaster recovery 
* High availability

For more information about Crunchy PostgreSQL, see the [Crunchy Data](http://crunchydata.com/) website.  

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Crunchy PostgreSQL for PCF details:</dt>
<dd><strong>Version</strong>: v1.05 </dd>
<dd><strong>Release date</strong>: December 22, 2016</dd>
<dd><strong>Software component version</strong>: PostgreSQL 9.5</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.6.x, v1.7.x, v1.8.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.6.x, v1.7.x, v1.8.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="limitations"></a>Limitations

Crunchy PostgreSQL for PCF currently includes the following limitations:

* You must manually restore backups.
* You must manually perform failovers.

## <a id="feedback"></a>Feedback

To report bugs, request features, or ask questions, send an email to [Crunchy Data](mailto:crunchypcf@crunchydata.com).
