---
title: Crunchy PostgreSQL For PCF
owner: Crunchy Data 
---

This documentation describes the Crunchy PostgreSQL for Pivotal CloudFoundry (PCF).
Using this tile will create all the services required to use Crunchy PostgreSQL 
with your CloudFoundry applications.  

## <a id='overview'></a>Overview


Crunchy PostgreSQL For PCF includes the following key features:

* Crunchy PostgreSQL 9.5 and PostGIS 2.2
* Master/Slave PostgreSQL Architecture
* Load Balanced Read Replicas
* Automated Backups with pgBackrest
* Disaster Recovery 
* High Availabilty

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Crunchy PostgreSQL for PCF details:</dt>
<dd><strong>Version</strong>: v1.04 </dd>
<dd><strong>Release date</strong>: December 9th, 2016</dd>
<dd><strong>Software component version</strong>: PostgreSQL 9.5</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.6x, v1.7.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.6.x, v1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

Crunchy PostgreSQL has the following requirements:

+ CloudFoundry

## <a id="limitations"></a>Limitations

Current limitations:

* Manual Restorations of Backups

* Manual Failovers

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions send an email to [Crunchy Data](mailto:crunchypcf@crunchydata.com).
