---
title: Installing and Configuring Crunchy PostgreSQL For PCF
owner: Crunchy Data 
---

This topic describes how to install and configure Crunchy PostgreSQL for Pivotal 
Cloud Foundry (PCF).

##<a id='import'></a> Import the Tile to Ops Manager

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. Navigate to the Ops Manager Installation Dashboard and click 
**Import a Product** to upload the product file. 

1. Click **Add** next to the uploaded Crunchy PostgreSQL for PCF tile in the 
Ops Manager **Available Products** view to add it to your staging area.

##<a id='configure'></a> Configure the Service

Click the newly added **Crunchy PostgreSQL** tile on the Ops Manager 
Installation Dashboard to open the configuration panes. Configure each section 
as described below.

  ![Crunchy PostgreSQL tile](images/tile.png)

##<a id='az-net'></a> AZ and Network Assignments

To make Crunchy PostgreSQL highly available, you must balance the service 
across multiple availability zones.

1. Click **Assign AZs and Networks**.      
    ![Assign AZs and Networks pane](assign-azs.png)

1. Choose an availability zone to deploy singleton jobs.  This should be a private 
service network with a route to a public gateway.

1. Choose availability zones to balance jobs.  This should be a private 
service network with a route to a public gateway.  It is recommended to use two or 
more avaibility zones when possible.

1. Choose the primary network where the `On-Demand Broker` should be deployed.

1. Choose the service network that On-Demand Broker should use to deploy VMs.  This 
should be a private service network with a route to a public gateway.

1. Click **Save**.

##<a id='global-properties'></a> Global Properties

1. Click **Global Properties**.
    ![Global Properties](global-properties.png)

1. Configure the VM type for Consul servers.  These do not need to be big servers.

1. Configure the size of disk to be attached to the Consul server.  It's 
recommended to use 10GB at minimum.

1. Configure the VM type for the PostgreSQL Load Balancerservers.  If unsure, 
the defaults can be used.

1. Configure the disk size for the PostgreSQL Load Balancer server.  If unsure, 
the defaults can be used.

1. Configure the VM type for the Smoke-Tests.  If unsure, the defaults can be used.

1. Configure the disk size for the Smoke-Tests Server.  If unsure, the defaults 
can be used.

1. Choose an availability zone to deploy these services to.

1. Click **Save**.

##<a id='small-plan'></a> Small Plan Properties

1. Click **Small Plan Properties**.
    ![Small Plan Properties](small-plan-properties.png)

1. Configure the VM size for databases servers in the small plan.  This is the size 
that will be used when a developer requests a small database plan.  If unsure, the 
defaults can be used.

1. Configure the VM size for databases servers in the small plan.  This is the disk 
size that will be used when a developer requests a small database plan.  If unsure, 
the defaults can be used.

1. Click **Save**.

##<a id='medium-plan'></a> Medium Plan Properties

1. Click **Medium Plan Properties**.
    ![Medium Plan Properties](medium-plan-properties.png)

1. Configure the VM size for databases servers in the medium plan.  This is the size 
that will be used when a developer requests a medium database plan.  If unsure, the 
defaults can be used.

1. Configure the VM size for databases servers in the medium plan.  This is the disk 
size that will be used when a developer requests a medium database plan.  If unsure, 
the defaults can be used.

1. Click **Save**.

##<a id='large-plan'></a> Large Plan Properties

1. Click **Large Plan Properties**.
    ![Large Plan Properties](large-plan-properties.png)

1. Configure the VM size for databases servers in the large plan.  This is the size
that will be used when a developer requests a large database plan.  If unsure, the
defaults can be used.

1. Configure the VM size for databases servers in the large plan.  This is the disk
size that will be used when a developer requests a large database plan.  If unsure,
the defaults can be used.

1. Click **Save**.

##<a id='extra-large-plan'></a> Extra Large Plan Properties

1. Click **Extra Large Plan Properties**.
    ![Extra Large Plan Properties](extra-large-plan-properties.png)

1. Configure the VM size for databases servers in the extra large plan.  This is 
the size that will be used when a developer requests a large database plan.  If 
unsure, the defaults can be used.

1. Configure the VM size for databases servers in the extra large plan.  This is 
the disk size that will be used when a developer requests an extra large database 
plan.  If unsure, the defaults can be used.

1. Click **Save**.

##<a id='errands'></a> Errands

1. Click **Errands**.
    ![errands](errands.png)

1. Configure the errands that should be run after deployment of the service.  It is
advised to leave these with their defaults.  

1. Click **Save**.

##<a id='Resource Config'></a> Resource Config

1. Click **Resource Config**.
    ![Resource Config](resource-config.png)

1. Review the pre-populated recommended server sizes and make any changes.

1. Click **Save**.

##<a id='stemcell'></a> Stemcell

1. Click **Stemcell**.
    ![Stemcell](stemcell.png)

1. Upload the required stemcell for the service.  See [Bosh.io](https://www.bosh.io/stemcells) 
for the complete list of stemcells.

1. Click **Save**.

##<a id='install'></a> Install the Tile

Return to the Ops Manager Installation Dashboard and click **Apply Changes** to 
install the Crunchy PostgreSQL for PCF tile.
