---
title: Installing and Configuring Crunchy PostgreSQL for PCF
owner: Crunchy Data
---

This topic describes how to install and configure Crunchy PostgreSQL for Pivotal Cloud Foundry (PCF) Tile.
If performing an upgrade of the Tile, please refer to the [Upgrading](#upgrading) section before proceeding.

<p class="warning">
<strong>Warning: </strong>
If upgrading the Tile, an Upgrade Token must be obtained from Crunchy Data
prior to beginning an upgrade action.
The upgrade process will not be able to complete without an Upgrade Token.
Failure to obtain an Upgrade Token prior to the upgrade process will result in broker errors.
</p>

<p class="note">
<strong>Note: </strong>
For the most Up-to-Date installation documentation, please refer to
[Crunchy Data's Official Documentation]()
</p>


## <a id="general"></a> General Install Procedures

1. Import the tile to Ops Manager
1. Import the necessary Stemcell
1. Configure the service
  - Set up AZ and network assignments as defined in your environment
  - Configure Global Properties as defined for your environment
  - Optionally configure Standalone PostgreSQL properties
  - Optionally configure Cluster PostgreSQL properties
  - Configure PostgreSQL properties for logging, archiving, and other options
  - Optionally configure Extended Features
  - Optionally configure Errands and Resources
1. Install the tile

<p class="note">
<strong>Note: </strong>
Do not set any PostgreSQL VMs to less than 4&nbsp;GB of memory.
</p>

<p class="note">
<strong>Note: </strong>
Do not set any PostgreSQL VMs to fewer than 2 cores.
</p>

<p class="note">
<strong>Note: </strong>
Do not set any plan which uses PostgreSQL or pgBackrest VMs to less than 4&nbsp;GB of memory.
</p>

<p class="note">
<strong>Note: </strong>Do not set any plan which uses PostgreSQL or pgBackrest VMs to fewer than 2 cores.
</p>

<p class="note">
<strong>Note: </strong>
If Standalone Replica plans are to be used in the environment, only use "local" or "local&S3" options.
Selecting S3 only archive mode will cause serious configuration issues on Standalone Replica instances.
</p>


## <a id='upgrading'></a> Upgrading the Tile

![Upgrade Token](upgrade-token.png)

1. Obtain the Upgrade Code from Crunchy Data's Customer Access Portal.
  - Log in to the Customer Access Portal and select PCF Tile Upgrade Token
  - Select the version to which you wish to upgrade
  - Select the Generate Token button to receive the Upgrade Token
  ![Token Generator](token-generator.png)
1. Enter the Upgrade Code, exactly as provided, into the associated field on the
   Upgrade Token page of the Tile Installer
1. Continue the steps as necessary from the [Errands](#errands) section.
