---
title: Installing and Configuring Crunchy PostgreSQL For PCF
owner: Crunchy Data 
---

This topic describes how to install and configure Crunchy PostgreSQL for PCF.

##<a id='install'></a> Install and Configure Crunchy PostgreSQL for PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click **Add** next to the uploaded Crunchy PostgreSQL for PCF tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly added Crunchy PostgreSQL for PCF tile.

1. Click the Security tab.

2. Enter a password for the PostgreSQL administrator role.  This should be a strong password.

2. Enter a password for the PostgreSQL replication role.  This should be a strong password.

2. Enter a password for the Broker administrator.  This should be a strong password.

2. Enter a Certificate Authority (CA) Cert for Consul.  This should be the CA certificate used to sign the certificates for Consul.

2. Enter a Client Certificate for Consul.  This should be signed by the CA certificate above.

2. Enter a Client Key for Consul.  This should be the key used to create the client certificate.

2. Enter a Server Certificate for Consul.  This should be signed by the CA certificate above.

2. Enter a Server Key for Consul.  This should be the key used to create the server certificate.

2. Click **Save**.

1. Click the PostgreSQL Configuration tab.

2. Enter the port for the PostgreSQL Master server.

2. Enter the port for teh PostgreSQL Replica servers.

2. Enter the maximum amount of concurrent connections to the database server.

2. Enter the amount of memory the server used for shared buffers.

2. Enter the amount of memory used for maintenance operations such as VACUUM and CREATE INDEX.

2. Click **Save**.

1. Click the HAProxy Configuration tab.

2. Enter the port for the PostgreSQL HAProxy server.

2. Enter the port for the Broker HAProxy server.

2. Click **Save**.

1. Click the Broker Configuration tab.

2. Enter the port for the Broker servers.

2. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Crunchy PostgreSQL for PCF tile.
