---
title: Migration
owner: Crunchy Data
---

##<a id='about'></a> About Migration

PostgreSQL minor releases never change the internal storage format and are always compatible with earlier and later minor releases of the same major version number, e.g., 9.5.2 is compatible with 9.5, 9.5.1 and 9.5.6.
Upgrades between minor versions of PostgreSQL allow for in-place upgrades because of this compatibility.

However, for major releases of PostgreSQL, the internal data storage format is subject to change, thus complicating upgrades.
The traditional method for moving data to a new major version is to dump and reload the database.

New major versions also typically introduce some user-visible incompatibilities, so application programming changes may be required.
Cautious users will want to test their client applications on the new version before switching over fully; therefore, it's often a good idea to set up concurrent installations of old and new versions.

##<a id='basic-migration'></a> Basic Migration Guidelines

To dump data from one major version of PostgreSQL and reload it in another, you
must use `pg_dump`; file system level backup methods will not work.
There are checks in place that prevent you from using a data directory with an
incompatible version of PostgreSQL, so no great harm can be done by trying to
start the wrong server version on a data directory.

The least downtime can be achieved by installing the newer release on a
different instance, running both the old and new in parallel.

If there is network-peering and communication between the two, it is recommended
that you use the `pg_dump` and `pg_dumpall` programs from the newer version of
PostgreSQL to take advantage of enhancements that might have been made in these
programs.

Alternately, you can dump to an intermediate file from the old service, and
restore on the new service.
You should ensure that the old database is not updated after you begin to run
`pg_dump` or `pg_dumpall`, otherwise you will lose those updates.

Further migration information could be found at the Official PostgreSQL docs page:
https://www.postgresql.org/docs/9.0/static/migration.html

###<a id='tools'></a> CF Apps Based Tools

There are several CF Apps developed that could assist with this type of migration.

- cf-pgadmin4
- cf-pgloader
