---
title: Crunchy PostgreSQL for PCF Release Notes
owner: Crunchy Data
---

This topic provides release notes for Crunchy PostgreSQL for Pivotal Cloud 
Foundry (PCF).

##<a id="02.090506.102"></a> v02.090506.102

**Release Date:** April 28, 2017

Features included in this release:

* On-Demand Single Tenant Service

Important note:

* Crunchy PostgreSQL for PCF v2 relies on functionality released in Pivotal Cloud Foundry versions 1.9 - 1.10 in order to provide support for "on-demand broker" capability.  In order to implement this functionality, Crunchy Data has made material modifications to the Crunchy PostgreSQL for PCF manifest and does not currently provide a direct upgrade path from Crunchy PostgreSQL for PCF v1 to Crunchy PostgreSQL for PCF v2.  In order to avoid confusion between the two implementations, Crunchy Data has removed the Crunchy PostgreSQL for PCF v1 from PivNet.  For those users who have previously downloaded and deployed an evaluation copy of Crunchy PostgreSQL for PCF v1, Crunchy Data is happy to provide ongoing commercial subscription support. If you are interested in commercial subscription support for Crunchy PostgreSQL for PCF, please contact sales@crunchydata.com.

##<a id="108"></a> v1.0.8

**Release Date:** March 10, 2017

Features included in this release:

* Crunchy PostgreSQL v9.5 and PostGIS v2.3
* Leader/follower PostgreSQL architecture
* Load-balanced read replicas
* Load-balanced brokers
* Automated backups with pgBackrest
* Self-managed databases

##<a id="106"></a> v1.0.6

**Release Date:** January 13, 2017

Features included in this release:

* Crunchy PostgreSQL v9.5 and PostGIS v2.2
* Leader/follower PostgreSQL architecture
* Load-balanced read replicas
* Load-balanced brokers
* Automated backups with pgBackrest
* Self-managed databases
