---
title: Crunchy PostgreSQL for PCF Release Notes
owner: Crunchy Data
---

This topic provides release notes for Crunchy PostgreSQL for Pivotal Cloud 
Foundry (PCF).

##<a id="03.090507.100"></a> v03.090507.100

**Release Date:** July 1, 2017

<p class="note warning"><strong>WARNING!</strong> This is the GA release, and is not compatible with the previous releases, including the beta release.
Please see detailed release notes below for more information.
</p>

Features included in this release:

* On-Demand single-tenant service

<p class="note"><strong>IMPORTANT</strong>: Crunchy PostgreSQL for PCF v3 relies on functionality
released in PCF v1.9 – v1.10 to provide support for "on-demand broker" capability.<br>
To implement this functionality, Crunchy Data has made material modifications to the
Crunchy PostgreSQL for PCF manifest and does not currently provide a direct upgrade path from
Crunchy PostgreSQL for PCF v1 or v2 to Crunchy PostgreSQL for PCF v3. <br><br>
To avoid confusion between the two implementations, Crunchy Data has removed the
Crunchy PostgreSQL for PCF v1 and v2 software versions from Pivotal Network.
If you previously downloaded and deployed an evaluation copy of
Crunchy PostgreSQL for PCF v1 or v2, Crunchy Data is happy to provide ongoing commercial subscription support.<br><br>
If you are interested in commercial subscription support for Crunchy PostgreSQL for PCF, please contact sales@crunchydata.com.
</p>

##<a id="02.090507.101"></a> v02.090507.101

**Release Date:** May 23, 2017

<p class="note warning"><strong>WARNING!</strong> This is an updated beta release of the on-demand single-tenant service.
This beta release is intended for evaluation purposes only.
The final release of this software will include some changes that will likely break compatibility between this release and the next release.
</p>

Features included in this release (For details on features please read the feature-overview document):

* HA Model
* Auto-failover
* On-Demand single-tenant service

<p class="note"><strong>IMPORTANT</strong>: Crunchy PostgreSQL for PCF v2 relies on functionality
released in PCF v1.9 – v1.10 to provide support for "on-demand broker" capability.<br>
To implement this functionality, Crunchy Data has made material modifications to the
Crunchy PostgreSQL for PCF manifest and does not currently provide a direct upgrade path from
Crunchy PostgreSQL for PCF v1 to Crunchy PostgreSQL for PCF v2. <br><br>
To avoid confusion between the two implementations, Crunchy Data has removed the
Crunchy PostgreSQL for PCF v1 from Pivotal Network.
If you previously downloaded and deployed an evaluation copy of
Crunchy PostgreSQL for PCF v1, Crunchy Data is happy to provide ongoing commercial subscription support.<br><br>
If you are interested in commercial subscription support for Crunchy PostgreSQL for PCF, please contact sales@crunchydata.com.
</p>

##<a id="02.090507.100"></a> v02.090507.100

**Release Date:** May 12, 2017

<p class="note warning"><strong>WARNING!</strong> This is a beta release of the on-demand single-tenant service.
This beta release is intended for evaluation purposes only.
The final release of this software will include some changes that will likely break compatibility between this release and the next release.
</p>

Features included in this release:

* On-Demand single-tenant service


<p class="note"><strong>IMPORTANT</strong>: Crunchy PostgreSQL for PCF v2 relies on functionality
released in PCF v1.9 – v1.10 to provide support for "on-demand broker" capability.<br>
To implement this functionality, Crunchy Data has made material modifications to the
Crunchy PostgreSQL for PCF manifest and does not currently provide a direct upgrade path from
Crunchy PostgreSQL for PCF v1 to Crunchy PostgreSQL for PCF v2. <br><br>
To avoid confusion between the two implementations, Crunchy Data has removed the
Crunchy PostgreSQL for PCF v1 from Pivotal Network.
If you previously downloaded and deployed an evaluation copy of
Crunchy PostgreSQL for PCF v1, Crunchy Data is happy to provide ongoing commercial subscription support.<br><br>
If you are interested in commercial subscription support for Crunchy PostgreSQL for PCF, please contact sales@crunchydata.com.</p>

##<a id="108"></a> v1.0.8

**Release Date:** March 10, 2017

Features included in this release:

* Crunchy PostgreSQL v9.5 and PostGIS v2.3
* Leader/follower PostgreSQL architecture
* Load-balanced read replicas
* Load-balanced brokers
* Automated backups with pgBackrest
* Self-managed databases

##<a id="106"></a> v1.0.6

**Release Date:** January 13, 2017

Features included in this release:

* Crunchy PostgreSQL v9.5 and PostGIS v2.2
* Leader/follower PostgreSQL architecture
* Load-balanced read replicas
* Load-balanced brokers
* Automated backups with pgBackrest
* Self-managed databases
